<% if current_user.is_interpreter %>
  <div class="bubble-tag text-center"> <%= language.name %><%= link_to " x", interpreter_language_skill_path(interpreter,language_skill), method: :delete %></div>
<% else %>
    <div class="bubble-tag text-center"> <%= language.name %><%= link_to " x", deaf_user_language_skill_path(deaf_user,language_skill), method: :delete %></div>
<% end %>

