<% if @language_skill.errors.any? %>
$('#new_language_skill').html("<%= j render 'language_skills/form', interpreter: @interpreter, language_skill: @language_skill %>")
<% else %>
  // Create a paragraph for the new review. But hide it.
  var new_language = $("<div class='bubble-tag text-center'><%= @language.name %></div>").hide();
  // Add it to the DOM, at the end of the existing reviews. It's still hidden.
  $('#new_language').delete(new_language);
  // Show the new review with an animation!
  new_language.slideDown();
<% end %>
