<div class= "text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <h1>Welcome to SignKick!</h1>
        <h2>We're glad you're here.</h2>
        <h2>We hope to make finding and booking an interpreter as easy as possible.</h2>
        <p>Please give us some more information about yourself:</p>
        <%= simple_form_for [@deaf_user] do |f| %>
        <%= f.input :name, placeholder: "Name",required: true, autofocus: true  %>
        <%= f.input :location, placeholder: "Location" %>
        <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
