.profile-container h1 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #3A4750;
}


.profile-bio-and-rating h2 {
  font-size: 14px;
  font-weight: 500;
  color: #3A4750;
}

.profile-bio-and-rating p {
  font-size: 14px;
  font-weight: lighter;
  color: #3A4750;
  padding-right: 10px;
}

.profile-upcoming-bookings h2 {
  font-size: 14px;
  font-weight: 500;
  color: #3A4750;

}

.profile-upcoming-bookings h4 {
  font-size: 14px;
  font-weight: lighter;
  color: #3A4750;
  padding-right: 10px;
}

.profile-border {
  border-right: 1px solid black;
  border-color: #58828B;
  min-height: 100px;
}

.top-border {
  border-top: 1px solid black;
  border-color: #58828B;
}
