.interpreter-container h1 {
  font-size: 40px;
  font-weight: normal;
  color: #3A4750;
}


.interpreter-container h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #3A4750;
}

.interpreter-container p {
  font-size: 14px;
  font-weight: lighter;
  color: #3A4750;

}

.profile-pic {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: 2px;
  border: 1px solid black;
  border-color: #58828B;
}

.interpreter-details {
  margin-top: 40px;
  border-right: 1px solid grey;
  border-color: #58828B;
}


.interpreter-details h2 {
  margin-bottom: 10px;
}

.interpreter-booking {
 margin-top: 40px;
}

.interpreter-reviews-availability {
  border-bottom: 1px solid grey;
  border-color: #58828B;
  margin-bottom: 10px;
  margin-top: 10px
}
