.dashboard-container h1 {
  font-size: 40px;
  font-weight: normal;
  color: #3A4750;
}


.dashboard-container h2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #3A4750;
}

.dashboard-container h3 {
  font-size: 14px;
  font-weight: 500;
  color: #3A4750;
}

.dashboard-container p {
  font-size: 14px;
  font-weight: lighter;
  color: #3A4750;
  padding-right: 10px;
  line-height: 1.5;
}

.dashboard-profile-pic {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  border: 1px solid black;
  border-color: #58828B;
}

.dashboard-bio {
  margin-top: 40px;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.dashboard-rating {
  margin-top: 40px;
}

.dashboard-upcoming-bookings {
  // border-bottom: 1px solid grey;
  // border-color: #58828B;
  margin-bottom: 10px;
  margin-top: 10px
}


.dashboard-booking-availability {
  // border-bottom: 1px solid grey;
  // border-color: #58828B;
  margin-bottom: 10px;
  margin-top: 10px
}

.dashboard-review {
  // border-bottom: 1px solid grey;
  // border-color: #58828B;
  margin-bottom: 10px;
  margin-top: 10px
}


.dashboard-icon {
  font-size: 25px;
  color: #3A4750;
}

.profile-edit-link {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 20px;
}


.profile-hover-link {
  color: #3A4750;
  &:hover {
    color: #CDCDCD;
    text-decoration: none;
  }
}


#vv {
  background: white;
  transform-origin: left top 0;
  position: relative;
  top: 120vh;
  width : 100vh;
  height: 100px;
  color: #3A4750;
  font-size: 80px;
  padding: 10px;
  transform: rotate(270deg);
}

.profile-border {
  border-right: 1px solid black;
  border-color: #58828B;
  min-height: 350px;
  margin-top: 20px;
}

.gold-star {
  color: #E4BB24;
}

.underline {
  text-decoration: underline;
}
