.dashboard-container h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #3A4750;
}


.dashboard-container h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #3A4750;
}

.dashboard-container p {
  font-size: 15px;
  font-weight: lighter;
  color: #3A4750;

}

.dashboard-profile-pic {
  width: 200px;
  margin-top: 30px;
  margin-left: 2px;
  border: 1px solid black;
}

.dashboard-details {
  margin-top: 60px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding-left: 15px;
}

.dashboard-details h2 {
  margin-bottom: 5px;
}

.dashboard-booking {
 margin-top: 60px;
}


.dashboard-reviews {
  border-top: 1px solid grey;
}

.dashboard-availability {
  margin-bottom: 30px;
}
