.interpreter-container h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #3A4750;
}

.interpreter-container h2 {
  font-size: 45px;
  font-weight: lighter;
  color: #3A4750;
}


.interpreter-container h3 {
  font-size: 20px;
  font-weight: lighter;
  color: #3A4750;
}

.interpreter-container p {
  font-size: 15px;
  font-weight: lighter;
  color: #3A4750;

}

.profile-pic {
  width: 200px;
  margin-top: 30px;
  margin-left: 2px;
  border: 1px solid black;
}

.interpreter-details {
  margin-top: 60px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding-left: 15px;

}

.interpreter-booking {
 margin-top: 60px;
}


.interpreter-availability {
  margin-top: 50px;
  margin-left: 320px;
  // border-top: 1px solid grey;

}


.interpreter-reviews {
  margin-top: 60px;
  margin-left: 320px;
  border-top: 1px solid grey;

}

