.interpreter-container h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #3A4750;
}


.interpreter-container h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #3A4750;
}

.interpreter-container p {
  font-size: 15px;
  font-weight: lighter;
  color: #3A4750;

}

.profile-pic {
  width: 200px;
  margin-top: 30px;
  margin-left: 2px;
  border: 1px solid black;
  border-color: #58828B;
}

.interpreter-details {
  margin-top: 60px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding-left: 15px;
  border-color: #58828B;
}


.interpreter-details h2 {
  margin-bottom: 5px;
}

.interpreter-booking {
 margin-top: 60px;
}


.interpreter-reviews {
  border-top: 1px solid grey;
  border-color: #58828B;
}

.interpreter-availability {
  margin-bottom: 30px;
}
