.interpreter-sign-in {
  border: 10px solid black;
  border-width: 1px;
  margin-top: 50px;
  padding: 30px;
}

.interpreter-sign-in h3 {
  margin-top: 40px;
}

.interpreter-sign-in p {
  font-weight: lighter;
}

.interpreter-sign-in {
  label {
    font-weight: normal;
    padding: 12px;
    padding-bottom: 5px;
  }
}
