<!--   animation
-->
<!-- <div class="element"></div> -->

<!-- banner -->

<div id="confirmOverlay">
    <div id="confirmBox">

        <h1>Booking Confirmation</h1>
        <p>Do you want to book interpreter?</p>

        <div id="confirmButtons">
            <a class="button" href="#">Yes<span></span></a>
            <a class="button" href="#">No<span></span></a>
        </div>
    </div>
</div>
