<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Design Canvas</h1>

      <!-- button -->
      <h2>Button</h2>
      <a href="" class="sk-btn btn-green">Search</a>
    </div>
  </div>
</div>

<br>
<br>

<!-- card -->

<div class="col-xs-12 col-sm-4">
  <h2>Card</h2>
  <div class="card" style= "background-image: url('<%= image_path "fuckthat.png", height: 300, width: 400, crop: :fill %>')">
  <div class="interpreter-avatar">
    <%= image_tag "pink.png", class: "interpreter-avatar" %>
    <div class="card-description">
      <h2>Leore Golan</h2>
      <p>I am trained in ASL</p>
    </div>


  </div>


