
<!-- booking complete box -->
<div class="booking-box-overlay">
  <div class="booking-box">

    <h1>Booking Confirmation</h1>
    <p>Do you want to book interpreter?</p>

  </div>
</div>

<div class="confirm-buttons"></div>
<!--   <a class="btn-booking-confirmation btn-green" href="g-confirmation btn-booki
  width="340px" height="333px" viewBox="0 0 340 333" enable-background="new 0 0 340 333" xml:space="preserve"></a>
</div>
 -->


<!-- "American Sign Language"
 "Danish Sign Language",
 "English"
 "Danish"
 "Chinese Sign Language"
 "Taiwanese Sign Language"
 "Maltese Sign Language"
 "British Sign Language"
 "Chinese Mandarin"
  "Cantonese"
  "Maltese"
  "Brazilian Sign Language"
  "Brazilian Portugese"
  "Indo-Pakistani Sign Language"
  "Hindi/Urdu"
  "Bengali"
  "Hungarian Sign Language"
  "Hungarian"
  "Kenyan Sign Language"
  "Kiswahili"
  "Japanese Sign Language"
  "Japanese"
  "Ecuadorian Sign Language"
  "Norwegian-Malagasy Sign Language"
  "Spanish"
  "Norwegian"
  "Malagasy"
  "French Sign Language"
  "French"
  "Philippine Sign Language"
  "Tagalog"
  "Spanish Sign Language"
  "Mexican Sign Language"
  "German Sign Language"
  "German"
  "Greek Sign Language"
  "Greek"
  "Italian Sign Language"
  "Italian"
  "Irish Sign Language"
  "Irish"
  "Ulster Scots"
  "New Zealand Sign Languge"
  "Auslan"
  "Malaysian Sign Language"
  "Malay"
  "Hong Kong Sign Language"
  "Dutch Sign Language"
  "Catalan Sign Language"
  "Dutch"
  "Swedish Sign Language"
  "Swedish"
-->
