<!--   animation
-->
<!-- <div class="element"></div> -->

<!-- banner -->

<div class="banner" style="background-image: url('<%= image_path 'background.jpeg'%>')">
  <div class="banner-content">
    <h1>Welcome to SignKick</h1>
    <p>Find your sign language partner</p>
  </div>
</div>

<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class= "text-center">

        <!-- button -->
        <a href="" class="sk-btn btn-green">Search</a>
      </div>
    </div>
  </div>
</div>


<br>
<br>
<br>

<!-- card -->

<div class="col-xs-12 col-sm-4">
  <div class="reviewcard-container">
   <div class="reviewcard">
     <div class="front">
       <div class="cover">
         <img src="<%= image_path 'cover.jpeg'%>"/>
       </div>
       <div class="user">
         <img class="img-circle" src="<%= image_path 'leore.jpg'%>"/>
       </div>
       <div class="content">
         <div class="main">
           <h3 class="name">Leore Golan</h3>
           <p class="profession">ASL Interpreter</p>

           <p class="text-center">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aperiam aspernatur saepe maiores?"</p>
         </div>
         <div class="footer">
           <div class="rating">
             <i class="fa fa-mail-forward"></i>
           </div>
         </div>
       </div>
     </div> <!-- end front panel -->
     <div class="back">
       <div class="header">
         <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
       </div>
       <div class="content">
         <div class="main">
           <h4 class="text-center">Job Description</h4>
           <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At distinctio amet velit ab, excepturi nam. Saepe culpa cum voluptatibus veritatis dolores consequuntur nulla doloremque atque quisquam. Minima provident, eveniet incidunt..</p>

           <div class="stats-container">
             <div class="stats">
               <h4>235</h4>
               <p>
                 Followers
               </p>
             </div>
             <div class="stats">
               <h4>114</h4>
               <p>
                 Following
               </p>
             </div>
             <div class="stats">
               <h4>35</h4>
               <p>
                 Projects
               </p>
             </div>
           </div>

         </div>
       </div>
       <div class="footer">
         <div class="social-links text-center">
           <a href="http://facebook.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
           <a href="http://google.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
           <a href="http://twitter.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
         </div>
       </div>
     </div> <!-- end back panel -->
   </div> <!-- end card -->
 </div> <!-- end card-container -->
</div>


<!-- @interpreters.each do |interpreter|
render 'layouts/card', interpreter
end -->



<!-- pop up model
-->


<!-- Large modal -->
