<!-- banner -->

<div class="banner" style="background-image: url('<%= image_path 'background.jpg'%>')">
  <div class="banner-content">
    <h1>Welcome to SignKick</h1>
    <p>Find your sign language partner</p>
  </div>
</div>

<!-- Form bar: date, location, languages, tags -->
<%= render 'interpreters/search'%>
<!-- CARDS -->

<div class="container">
  <div class="row">
    <% Interpreter.all.each do |interpreter|%>
    <%= render 'layouts/card', interpreter: interpreter %>
    <% end %>
  </div>
</div>



