<!-- banner -->

<div class="banner" style="background-image: url('<%= image_path 'background.jpg'%>')">
  <div class="banner-content">
    <h1>Welcome to SignKick</h1>
    <p>Find your sign language partner</p>
  </div>
</div>

<!-- Form bar: date, location, languages, tags -->
<%= render 'interpreters/search', language: nil , location: nil %>
<!-- CARDS -->

<div class=container>
  <div class="row">
    <div class= "discover-interpreters">
      <h2>Discover top interpreters all around the world</h2>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @interpreters.each do |interpreter|%>
    <%= render 'layouts/card', interpreter: interpreter %>
    <% end %>
  </div>
</div>


