/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-left-10 {
  margin-left: 10px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.full-width {
  width: 100%;
}

a {
  text-decoration: none;
  color: #616668;

  &:hover {
    text-decoration: none;
    color: #616668;
    opacity: 0.3;
  }

}

.padded-div-bottom {
  margin-bottom: 50px;
}

.padded-div-top {
  margin-top: 50px;
}

.padded-div-top-less {
  margin-top: 30px;
}

.extra-padded-div {
  margin-top: 100px;
}
.pink-flash {
  background-color: #D01257;
  color: white;
  // font-weight: bold;
  margin-bottom: 10px;
  border-radius: 10px;
  // &:hover
  //   background-color: #BC0E4E;
  // }
}

.search-bar {
  border: 1px solid #CBCBCB;
  margin-top: 25px;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 5px;
}
