.sk-btn {
  font-size: 18px;
  line-height: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: normal;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  min-width: 106px;
  text-align: center;
  border-radius: 6px;
}

.btn-green {
  background: #58828B;
  color: white;
  border: none;
  &:hover {
    background: rgba(88,130,139,0.9);
    color: white;
    text-decoration: none;
  }
}

.sk-btn-login {
  font-size: 16px;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: normal;
  padding-left: 12px;
  padding-right: 12px;
  width: auto;
  min-width: 80px;
  text-align: center;
  border-radius: 6px;
}


.btn-pink {
  background: #D01257;
  color: white;
  border: none;
  &:hover {
    background: rgba(208,18,87,0.8);
    color: white;
    text-decoration: none;
  }
}

.btn-sign-up {
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  min-width: 80px;
  text-align: center;
  border-radius: 6px;
}


.btn-dashboard {
  font-size: 16px;
  line-height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: lighter;
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
  min-width: 80px;
  text-align: center;
  border-radius: 5px;
  margin-left: 20px;
}

.btn-booking-confirmation {
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: lighter;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  min-width: 100px;
  text-align: center;
  border-radius: 6px;
}

.btn-booking-cancel {
  color: #3A4750;
  &:hover {
    color: #CDCDCD;
    text-decoration: none;
  }
}

.custom-checkbox {
  background-color: rgba(88,130,139,0.1);;
  color: black;
  border: none;
  width: 200px;
  height: 45px;
  border-radius: 5px;
  // border-color: black;
  // border-width: 2px;
  margin-bottom: 20px;
  &:hover {
    background: rgba(88,130,139,0.2);
    text-decoration: none;
  }
}
