.sk-btn {
  font-size: 18px;
  line-height: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: normal;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  min-width: 106px;
  text-align: center;
  border-radius: 6px;
}

.btn-green {
  background: #58828B;
  color: white;
  border: none;
  &:hover {
    background: rgba(88,130,139,0.9);
    color: white;
    text-decoration: none;
  }
}

.sk-btn-login {
  font-size: 16px;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: normal;
  padding-left: 12px;
  padding-right: 12px;
  width: auto;
  min-width: 80px;
  text-align: center;
  border-radius: 6px;
}


.btn-pink {
  background: #3A4750;
  color: white;
  border: none;
  &:hover {
    background: rgba(57,62,70,0.6);
    color: white;
    text-decoration: none;
  }
}

.btn-sign-up {
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  min-width: 80px;
  text-align: center;
  border-radius: 6px;
}


.btn-dashboard {
  font-size: 16px;
  line-height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: lighter;
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
  min-width: 80px;
  text-align: center;
  border-radius: 5px;
  margin-left: 20px;
}

.btn-booking-confirmation {
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: lighter;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  min-width: 100px;
  text-align: center;
  border-radius: 6px;
}

.btn-booking-cancel {
  color: #3A4750;
  &:hover {
    color: #CDCDCD;
    text-decoration: none;
  }
}


.custom-checkbox {
  background-color: rgba(88,130,139,0.1);;
  color: black;
  border: none;
  width: 200px;
  height: 45px;
  border-radius: 5px;
  // border-color: black;
  // border-width: 2px;
  margin: 0px auto 20px auto;
  &:hover {
    background: rgba(88,130,139,0.2);
    text-decoration: none;
  }
}

.add_language {
  background-color: #D01257;
  border-color: #D01257;
  border-radius: 5px;
  color: white;
  &:hover {
    background-color: #BC0E4E;
    color: white;
  }
}

.btn-green-sign-up {
  background: #58828B;
  color: white;
  border: none;
  padding: 10px;
  &:hover {
    background: rgba(88,130,139,0.9);
    color: white;
  }
}

.btn-primary {
  background-color: #F2F2F2;
  border-radius: 5px;
  color: #58828B;
  &:hover {
    background-color: #4F767F;
    color: black;
  }
}

.btn-grey {
  background: #F2F2F2;
  color: black;
  // border-color: #58828B;
  // border: 1px;
  padding: 10px;
  box-shadow: none;
  &:hover {
    background: #E0E0E0;
    color: black;
    text-decoration: none;
  }
}

.book-interpreter-button {
  font-size: 14px;
  font-weight: normal;
  line-height: 15px;
  padding: 12px;
  min-width: 80px;
  text-align: center;
  border-radius: 6px;
  margin-top: 5px;
}

.green-book-interpreter-button {
  background: #58828B;
  color: white;
  border: none;
  &:hover {
    background: rgba(88,130,139,0.9);
    color: white;
    text-decoration: none;
  }
}

