.calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }
   .available {
    background-color: rgba(208,242,216,0.2);
    color: #3A4750;
  }
  .unavailable {
    background-color: rgba(242,10,50,0.1);
    color: #3A4750;

  }

  .notmonth { color: #ccc;}
  .today { background-color: rgba(88,130,139,0.2); }
}

.calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

.calendar ul {
  font-size: 11px;
  padding-left:20px;
}


