.search-form {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: lighter;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 30px 0px;
}

.sk-search-form {
  label {
    font-weight: normal;
    color: #3A4750;
    margin-left: 10px;
  }
  select, input[type="date"]{
    color: black;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 3px;
  }
}

.booking-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sk-booking-form {
  label {
    font-size: 12px;
    font-weight: lighter;
    color: #3A4750;
    font-family: $header-font;
  }
  input {
    font-size: 12px;
    font-weight: lighter;
    max-width: 300px;
  }
}
