.search-form {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: lighter;
}

.sk-search-form {
  label {
    font-weight: normal;
    // padding: 0 10px 0 25px;
    color: #3A4750;
  }
  // input {
  //   height: 47px;
  // }
}

.booking-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sk-booking-form {
  label {
    font-size: 12px;
    font-weight: lighter;
    color: #3A4750;
    font-family: $header-font;
  }
  input {
    font-size: 12px;
    font-weight: lighter;
    max-width: 300px;
  }
}
