.bubble-tag {
  background-color: #58828B;
  color: white;
  border-radius: 33px;
  display: inline-block;
  padding: 7px 17px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  h6 {
    color: black;
  }
}

#languages {
  margin-bottom: 30px;
}
