<div class="banner" style="background-image: url('<%= image_path 'background.jpeg'%>')">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 grey-background">
        <div class="grey-background">
          <div class="banner-content">
            <h1>Welcome to SignKick</h1>
            <p>Find your sign language partner</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

