<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-5">
        <ul class="list-inline">

          <li>
            <%= link_to "http://facebook.com", class: "footer-link" do %>
            <i class="fa fa-facebook"></i>
            <% end %>
          </li>

          <li>
            <%= link_to "http://instagram.com", class: "footer-link" do %>
            <i class="fa fa-instagram"></i>
            <% end %>
          </li>

          <li>
            <%= link_to "http://twitter.com", class: "footer-link" do %>
            <i class="fa fa-twitter"></i>
            <% end %>
          </li>
        </ul>
        <div class= "text-center footer">
          <p>SignKick Copyright Leore and Claudia 2016</p>

        </div>
      </div>
    </div>
  </div>
</div>
