<div id="footer">
  <div class="container">
    <ul class="list-inline text-center">

      <li>
        <%= link_to "http://facebook.com", class: "footer-link" do %>
        <i class="fa fa-facebook"></i>
        <% end %>
      </li>

      <li>
        <%= link_to "http://instagram.com", class: "footer-link" do %>
        <i class="fa fa-instagram"></i>
        <% end %>
      </li>

      <li>
        <%= link_to "http://twitter.com", class: "footer-link" do %>
        <i class="fa fa-twitter"></i>
        <% end %>
      </li>
    </ul>

    <div class= "list-inline text-center">
      <p>SignKick Copyright © 2016 </p>

    </div>
  </div>
</div>
